*{
    font-weight: 700;
    background-color: pink;
    text-align: center;
}
h3{
    text-align: center;
    font: weight 9000px;
    font-size: large;
    font-size: 50px;
}
p{
    font-size: 20px;
    color: black;
    
}
input{
    width: 100px;
}
#abc{
    width: 600px;
    height: 25px;
}
#submit{
    text-align: center;
    background-color: white;
    width: 200px;
    height: 30px;
}
#feedback{
    width: 600px;
    height: 100px;
}